button {
    width: auto; 
    min-width: 50px;
    height: 50px; 
    border-radius: 15px; 
    border: none;
    background-color: hsl(199, 79%, 49%); 
    color: white;
    font-size: 1.2rem; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover {
    background-color: hsl(199, 74%, 34%); 
}

button:active {
    background-color: hsl(199, 54%, 30%); 
}

#keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    padding: 25px; 
}

#Calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 10%); 
    border-radius: 20px; 
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.3);
}

#display {
  display: block;
    width: 85%;
    margin: 20px auto; 
    padding: 25px 15px;
    font-size: 5rem;
    text-align: right;
    border-radius: 10px;
    outline: none;
    background: linear-gradient( 135deg,   rgba(255, 255, 255, 0.926) 0%,  rgba(255, 255, 255, 0.777) 50%,  rgba(255, 255, 255, 0.704) 100%);
    color: #1a1a1a;
    border-top: 5px solid #000;
    border-left: 3px solid #000;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    box-shadow: inset 0 8px 10px rgba(0,0,0,0.3);
}

body {
 margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh;
    background-color: hsl(0, 0%, 90%); 
}

.operator-btn {
    background-color: hsl(35, 100%, 50%); 
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 60%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 70%);
}

.normal-btn {
    background-color: white;
    color:black;
}
.normal-btn:hover {
    background-color: grey;
}

#btn-2nd{
    background-color: hsl(228, 58%, 22%); 
    color: white;
}
#btn-2nd:hover{
    background-color: hsl(228, 53%, 12%); 
    color: white;
}
#btn-2nd:hover{
    background-color: hsl(225, 96%, 9%); 
    color: white;
}